#header-box {
    margin-top: 20px;
    margin-bottom: 50px;
}

body {
    background-color: #eee;
    font-weight: 300;
    font-size: 18px;
}


#content-box {
    margin-top: 40px;
}

.search-bar {
    position: relative;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}


.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

#search_button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 110px;
    background: #0d6efd;

}

#show-box {
    margin-top: 70px;
}

#show-box .num {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

#show-box .title {
    font-size: 30px;
    text-align: center;
}

#loginPlaceHolder .buttons>.col-auto {
    padding: 0px;
}

#loginPlaceHolder .buttons button {
    padding: 12px;
}

#profile-box {
    margin-top: 60px;
}

#profile-box .left {
    border: 5px solid #d6d4d4;
    border-radius: 10px;
}

#profile-box .right {
    border: 5px solid #d6d4d4;
    border-radius: 10px;
}


#profile-box #avatr{
    margin: 0 10px 0 0;
}

#profile-box #user-name{
    margin-bottom: 5px;
}


#profile-box #logo div{
    padding: 0px;
    margin: 0 8px;
}

#profile-box #logo img {
    background-color: dimgray;
    width: 30px;
    height: 30px;
}