<html>

<head>
  <title>Flask Intro - login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" rel="stylesheet"
    media="screen">
  <link href="../static/user.css" rel="stylesheet" media="screen">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="module" src="../static/user.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">



</head>

<body>
  <div class="container" id="header-box">

    <div class="row align-items-center  justify-content-between">
      <div class="col-auto" id="logo">
        <a href="/">
          <img src="https://steamrepcn.com/images/logo.png" alt="logo">
        </a>
      </div>

      <div class="col-auto" id="loginPlaceHolder">


      </div>

    </div>
  </div>

  <div class="container" id="content-box">
    <div class="row align-items-start justify-content-between">

      <div class="col">
        <div class="search" id="search-box">
          <div style="font-size: 2rem; margin-bottom:0.7rem">搜索用户</div>
          <div class="search-bar">
            <input type="text" id="search_input" class="form-control" placeholder="输入你要查询的玩家ID">
            <button class="btn btn-primary" id="search_button" style="font-size: 1.1rem;">搜索</button>
          </div>
          <div style="color:grey; padding-top:5px; text-align:right;">*可以输入玩家的bungieID或steam64位码</div>
          <div id="searchAlertPlaceholder"></div>
        </div>
      </div>

    </div>
  </div>


  <div class="container" id="profile-box">
    <div class="row align-items-start">
      <div class="col-4 left">
        左
      </div>
      <div class="col-4 right">
        右
      </div>

    </div>
  </div>


  <div class="container" id="show-box">
    <div class="row justify-content-evenly">

      <div class="col-auto item">
        <div class="title">收录用户</div>
        <div class="num" id="user_countPlaceHolder"></div>
      </div>

      <div class="col-auto item">
        <div class="title">评价次数</div>
        <div class="num" id="comment_countPlaceHolder"></div>
      </div>

      <div class="col-auto item">
        <div class="title">好评次数</div>
        <div class="num" id="positive_comment_countPlaceHolder"></div>
      </div>
    </div>
  </div>




  </div>
</body>

</html>